.body {
  background-color: rgb(56, 52, 69);
}

.imgCiudad{
  width: 50%;
}

.container-fluid {
  width: 100%;
  height: 100vh;
}

#tablaCiudades {
  background-color: rgb(198, 196, 187);
  color: rgb(228, 214, 214);
  text-align: center;
}